In [1]:
# Import libraries
import numpy as np
import pandas as pd
from time import time
from sklearn.metrics import f1_score
from IPython.display import display
%matplotlib inline

In [2]:
# Read student data
loan_data = pd.read_csv("loan_data.csv")
print ("Loan data read successfully!")

Loan data read successfully!

In [3]:
display(loan_data.head())
print(loan_data.dtypes)

,funded_amnt,term,installment,emp_length,home_ownership,annual_inc,verification_status,loan_status,purpose,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_util,collections_12_mths_ex_med,mths_since_last_major_derog
0,5000.0,0,162.87,10,RENT,24000.0,Verified,0,credit_card,27.65,0.0,1.0,180.0,180.0,3.0,0.0,83.7,0.0,180.0
1,2500.0,1,59.83,0,RENT,30000.0,Source Verified,1,car,1.00,0.0,5.0,180.0,180.0,3.0,0.0,9.4,0.0,180.0
2,2400.0,0,84.33,10,RENT,12252.0,Not Verified,0,small_business,8.72,0.0,2.0,180.0,180.0,2.0,0.0,98.5,0.0,180.0
3,10000.0,0,339.31,10,RENT,49200.0,Source Verified,0,other,20.00,0.0,1.0,35.0,180.0,10.0,0.0,21.0,0.0,180.0
4,5000.0,0,156.46,3,RENT,36000.0,Source Verified,0,wedding,11.20,0.0,3.0,180.0,180.0,9.0,0.0,28.3,0.0,180.0

funded_amnt                    float64
term                             int64
installment                    float64
emp_length                       int64
home_ownership                  object
annual_inc                     float64
verification_status             object
loan_status                      int64
purpose                         object
dti                            float64
delinq_2yrs                    float64
inq_last_6mths                 float64
mths_since_last_delinq         float64
mths_since_last_record         float64
open_acc                       float64
pub_rec                        float64
revol_util                     float64
collections_12_mths_ex_med     float64
mths_since_last_major_derog    float64
dtype: object

In [4]:
# TODO: Calculate number of records
n_loans = float(len(loan_data))

# TODO: Calculate number of features
n_features = float(len(loan_data.columns) - 1)

# TODO: Calculate paid in full loans
n_pif = float(sum(1 for item in loan_data['loan_status'] if item==(0)))

# TODO: Calculate charged off loans
n_chargeoff = float(sum(1 for item in loan_data['loan_status'] if item==(1)))

# TODO: Calculate successful loan rate
success_rate = n_pif / n_loans * 100

# Print the results
print("Total number of loans: {}".format(n_loans))
print("Number of features: {}".format(n_features))
print("Number of loans paid in full: {}".format(n_pif))
print("Number of charge-offs: {}".format(n_chargeoff))
print("Success rate of loans: {:.2f}%".format(success_rate))

Total number of loans: 252535.0
Number of features: 18.0
Number of loans paid in full: 207374.0
Number of charge-offs: 45161.0
Success rate of loans: 82.12%

In [5]:
# Store the 'loan_status' feature in a new variable and remove it from the dataset
y_all = loan_data['loan_status']
X_all = loan_data.drop(['loan_status'], axis = 1)

# Show the new dataset with 'loan_status' removed
display(X_all.head())
display(y_all.head())

,funded_amnt,term,installment,emp_length,home_ownership,annual_inc,verification_status,purpose,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_util,collections_12_mths_ex_med,mths_since_last_major_derog
0,5000.0,0,162.87,10,RENT,24000.0,Verified,credit_card,27.65,0.0,1.0,180.0,180.0,3.0,0.0,83.7,0.0,180.0
1,2500.0,1,59.83,0,RENT,30000.0,Source Verified,car,1.00,0.0,5.0,180.0,180.0,3.0,0.0,9.4,0.0,180.0
2,2400.0,0,84.33,10,RENT,12252.0,Not Verified,small_business,8.72,0.0,2.0,180.0,180.0,2.0,0.0,98.5,0.0,180.0
3,10000.0,0,339.31,10,RENT,49200.0,Source Verified,other,20.00,0.0,1.0,35.0,180.0,10.0,0.0,21.0,0.0,180.0
4,5000.0,0,156.46,3,RENT,36000.0,Source Verified,wedding,11.20,0.0,3.0,180.0,180.0,9.0,0.0,28.3,0.0,180.0

0    0
1    1
2    0
3    0
4    0
Name: loan_status, dtype: int64

In [6]:
display(X_all.describe())

,funded_amnt,term,installment,emp_length,annual_inc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_util,collections_12_mths_ex_med,mths_since_last_major_derog
count,252535.000000,252535.000000,252535.000000,252535.000000,2.525350e+05,252535.000000,252535.000000,252535.000000,252535.000000,252535.000000,252535.000000,252535.000000,252535.000000,252535.000000,252535.000000
mean,13527.641416,0.222809,418.249895,5.563973,7.253306e+04,16.549335,0.249811,0.852666,115.824844,166.991130,10.929966,0.143442,54.314660,0.006736,154.312119
std,8108.755794,0.416132,244.902930,3.788244,5.879248e+04,7.786736,0.740532,1.066970,73.384033,35.981015,4.812420,0.432747,24.730282,0.089072,54.194762
min,500.000000,0.000000,15.690000,-1.000000,3.000000e+03,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,7200.000000,0.000000,239.560000,2.000000,4.500000e+04,10.760000,0.000000,0.000000,37.000000,180.000000,7.000000,0.000000,36.300000,0.000000,180.000000
50%,12000.000000,0.000000,365.230000,6.000000,6.200000e+04,16.200000,0.000000,1.000000,180.000000,180.000000,10.000000,0.000000,55.800000,0.000000,180.000000
75%,18125.000000,0.000000,547.550000,10.000000,8.700000e+04,22.000000,0.000000,1.000000,180.000000,180.000000,14.000000,0.000000,73.900000,0.000000,180.000000
max,35000.000000,1.000000,1424.570000,10.000000,8.706582e+06,57.140000,29.000000,8.000000,180.000000,180.000000,30.000000,7.000000,150.000000,6.000000,180.000000

In [7]:
X_all = pd.get_dummies(X_all, columns=['home_ownership', 'purpose', 'verification_status'])

In [8]:
display(X_all.head())

,funded_amnt,term,installment,emp_length,annual_inc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,...,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified
0,5000.0,0,162.87,10,24000.0,27.65,0.0,1.0,180.0,180.0,...,0,0,0,0,0,0,0,0,0,1
1,2500.0,1,59.83,0,30000.0,1.00,0.0,5.0,180.0,180.0,...,0,0,0,0,0,0,0,0,1,0
2,2400.0,0,84.33,10,12252.0,8.72,0.0,2.0,180.0,180.0,...,0,0,0,0,1,0,0,1,0,0
3,10000.0,0,339.31,10,49200.0,20.00,0.0,1.0,35.0,180.0,...,0,0,1,0,0,0,0,0,1,0
4,5000.0,0,156.46,3,36000.0,11.20,0.0,3.0,180.0,180.0,...,0,0,0,0,0,0,1,0,1,0

### Scaling target variables
To make training  easier, we'll standardize each of the continuous variables. That is, we'll shift and scale the variables such that they have zero mean and a standard deviation of 1.

The scaling factors are saved so we can go backwards when we make predictions.

In [9]:
quant_features = ['annual_inc', 'collections_12_mths_ex_med', 'delinq_2yrs', 'dti', 'emp_length', 'funded_amnt',
                 'inq_last_6mths', 'installment', 'mths_since_last_delinq', 'mths_since_last_major_derog', 
                  'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_util']
# Store scalings in a dictionary so we can convert back later
scaled_features = {}
for each in quant_features:
    mean, std = X_all[each].mean(), X_all[each].std()
    scaled_features[each] = [mean, std]
    X_all.loc[:, each] = (X_all[each] - mean)/std

display(X_all.head())

,funded_amnt,term,installment,emp_length,annual_inc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,...,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified
0,-1.051658,0,-1.042780,1.170998,-0.825498,1.425586,-0.33734,0.138086,0.874511,0.361548,...,0,0,0,0,0,0,0,0,0,1
1,-1.359967,1,-1.463518,-1.468748,-0.723444,-1.996900,-0.33734,3.887019,0.874511,0.361548,...,0,0,0,0,0,0,0,0,1,0
2,-1.372299,0,-1.363479,1.170998,-1.025319,-1.005471,-0.33734,1.075320,0.874511,0.361548,...,0,0,0,0,1,0,0,1,0,0
3,-0.435041,0,-0.322331,1.170998,-0.396871,0.443147,-0.33734,0.138086,-1.101396,0.361548,...,0,0,1,0,0,0,0,0,1,0
4,-1.051658,0,-1.068954,-0.676824,-0.621390,-0.686980,-0.33734,2.012553,0.874511,0.361548,...,0,0,0,0,0,0,1,0,1,0

## Train-Test Split
### K-Folds Cross Validation??

In [10]:
from sklearn.model_selection import train_test_split

train_prop = 0.8

X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, train_size=train_prop, random_state=1)

print("Training set has {} samples.".format(X_train.shape[0]))
print("Testing set has {} samples.".format(X_test.shape[0]))

Training set has 202028 samples.
Testing set has 50507 samples.

## Setup
Built from student_intervention project and modified as needed for this project

In [11]:
def train_classifier(clf, X_train, y_train):
    ''' Fits a classifier to the training data. '''
    
    # Start the clock, train the classifier, then stop the clock
    start = time()
    clf.fit(X_train, y_train)
    end = time()
    
    # Print the results
    print("Trained model in {:.4f} seconds".format(end - start))

    
def predict_labels(clf, features, target):
    ''' Makes predictions using a fit classifier based on F1 score. '''
    
    # Start the clock, make predictions, then stop the clock
    start = time()
    y_pred = clf.predict(features)
    end = time()
    
    # Print and return results
    print("Made predictions in {:.4f} seconds.".format(end - start))
    return f1_score(target.values, y_pred, pos_label='yes')


def train_predict(clf, X_train, y_train, X_test, y_test):
    ''' Train and predict using a classifer based on F1 score. '''
    
    # Indicate the classifier and the training set size
    print("Training a {} using a training set size of {}. . .".format(clf.__class__.__name__, len(X_train)))
    
    # Train the classifier
    train_classifier(clf, X_train, y_train)
    
    # Print the results of prediction for both training and testing
    print("F1 score for training set: {:.4f}.".format(predict_labels(clf, X_train, y_train)))
    print("F1 score for test set: {:.4f}.".format(predict_labels(clf, X_test, y_test)))

### Implementation: Model Performance Metrics
Built from student_intervention project and modified as needed for this project

In [ ]:
from sklearn.svm import SVC
clf = SVC(random_state=42)
train_classifier(clf, X_train, y_train)
predict_labels(clf, X_test, y_test)
train_predict(clf, X_train, y_train, X_test, y_test)

In [ ]:
# from sklearn import model_A
from sklearn.svm import SVC
# from sklearn import model_B
from sklearn.ensemble import AdaBoostClassifier
# from skearln import model_C
from sklearn.ensemble import RandomForestClassifier


# Initialize the three models
clf_A = SVC(random_state=42)
clf_B = AdaBoostClassifier(random_state=42)
clf_C = RandomForestClassifier(random_state=42)

clf_list = [clf_A, clf_B, clf_C]

# Execute the 'train_predict' function for each classifier
# train_predict(clf, X_train, y_train, X_test, y_test)
loop = [0, 1, 2]

for i in range(0, 3):
    clf = clf_list[i]
    print('')
    train_classifier(clf, X_train, y_train)
    predict_labels(clf, X_test, y_test)
    train_predict(clf, X_train, y_train, X_test, y_test)

### Implementation: Model Tuning
Built from student_intervention project and modified as needed for this project

In [ ]:
# Import 'GridSearchCV' and 'make_scorer'
from sklearn.grid_search import GridSearchCV
from sklearn.metrics import make_scorer

# Create the parameters list you wish to tune
parameters = {'C': [0.01, 0.1, 0.95, 1.0, 1.05, 10.0, 100.0]}

# Initialize the classifier
clf = clf_A

# Make an f1 scoring function using 'make_scorer' 
f1_scorer = make_scorer(f1_score, pos_label='yes')

# Perform grid search on the classifier using the f1_scorer as the scoring method
grid_obj = GridSearchCV(estimator=clf, param_grid=parameters, scoring=f1_scorer, cv=10)

# Fit the grid search object to the training data and find the optimal parameters
grid_obj = grid_obj.fit(X_train, y_train)

# Get the estimator
clf = grid_obj.best_estimator_

# Report the final F1 score for training and testing after parameter tuning
print('')
print "Tuned model has a training F1 score of {:.4f}.".format(predict_labels(clf, X_train, y_train))
print "Tuned model has a testing F1 score of {:.4f}.".format(predict_labels(clf, X_test, y_test))